
/* @media screen and (min-width: 900px) { */
body, html{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width:100vw;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
}
.title {
    padding: 20px;
    height:100%;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
}
#headerWrapper {
    display: flex;
    padding-right: 10%;
    padding-left: 5%;
    height: auto;
    background-color:rgb(227, 238, 238);
}
#logo {
    display: flex;
    align-self: center;
}
#spacer {
    display:flex;
    flex-grow: 4;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3.12rem 9.375rem 20rem 9.375rem;
    column-gap: 10%;
    row-gap: 5%;
}
.bookCard, #newContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    height: 19rem;
    width: 15rem;
    border: 1px solid lightgray;
    border-radius: 3%;
    background-color: rgb(255, 255, 244);
}
#newContainer {
    justify-content: center;
    /* grid-column-end: -1; */
    /* grid-row-end: 5; */
}
#addNew {
    display: flex;
    height: 6.8rem;
    width: 6.8rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: rgb(76, 93, 107);
    cursor:pointer;
}
.bookAttr {
    padding-bottom: 5%;
    display: flex;
    width: 100%;

}
#bookTitle {
    justify-content: center;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
}
#popupScreen {
    position: fixed;
    display: none;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.712);
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#popupBox {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: white;
    border-radius: 5%;
    max-width: 20%;
    min-height: 60%;  
    justify-content: center; 
    align-content: center;
}
#popupForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.formElement {
    width: 95%;
    min-height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
.newRead {
    margin-top:5%;
    max-width: 33%;
    align-content: center;
    font-size: 19px;
}
.button {
    margin-bottom: 10%;
    margin-top: 5%;
    min-height: 15%;
    max-width: 30%;
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid lightgray;
    border-radius: 4%;
    font-size: 15px;
    cursor: pointer;
}
#add {
    background-color: rgb(180, 230, 180);
}
#close {
    background-color: rgb(248, 192, 192);
}
.deleteButton {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    left: 14rem;
    bottom: 0.3rem;
    cursor: pointer;
}
.deleteButton:hover {
    transform: scale(20%) ;
}
.deleteButton:focus {
    outline: none;
}

/* } */
@media screen and (max-width: 26.563rem) {

    body, html {
    font-size: 8px;
    }
    #grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
        margin: auto 1rem 5rem 1rem;

    }
}