
@keyframes progressBar {
    from {width: 1%;}
}
:root {
    --buttonColor: rgb(76, 93, 107);
    --shadowColor: rgba(165, 165, 165, 0.534);
    --borderColor: rgba(165, 165, 165, 0.534);
    --redBtn: rgb(248, 192, 192);
    --greenBtn: rgb(180, 230, 180);
    --headerColor: rgb(207, 205, 221);
}
body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    background-color: rgba(255, 255, 244, 0.507);
    height: 100%;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0rem 0.15rem 0rem 0.15rem;
    text-align: center;
    font-size: 0.8rem;
}
header {
    display: flex;
    position: fixed;
    z-index:9;
}
input {
    border: 0.1rem solid grey;
    border-radius: 0.3em;
}
#statsContainer {
    display: grid;
    flex-grow: 3;
    max-width: 25rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 0.1rem;
    column-gap: 3rem;
    background-color: var(--headerColor);
    padding: 0.5rem 2rem 0.5rem 1rem;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}
.progress {
    display: flex;
    align-items: center;
    width: 10rem;
}
.bookRed {
    display: flex;
    background-color: var(--redBtn);
    width: 100%;
    height: 1rem;
    border-radius: 50em;
}
#bookGreen, #pageGreen {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--greenBtn);
    width: 0%;
    height: 1rem;
    font-size: 0.7rem;
    animation-name: progressBar;
    animation-duration: 2s;
    border-radius: 0% 50em 50em 0%;
    padding-left: 0.8rem;
}
.statTag {
    margin: 0px;
    grid-row: 1;
    text-align: center;
}
#grid {
    display: inline-flex;
    flex-wrap: wrap;
    min-height: 85%;
    justify-content: center;
    padding: 7rem 0rem 5rem 2rem; 
}
.bookCard, #newContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1.2rem;
    height: 19rem;
    width: 15rem;
    border: 1px solid rgba(165, 165, 165, 0.534);
    border-radius: 3%;
    background-color: white;
    margin: 0rem 2rem 2rem 0rem;
    box-shadow: -1px 3px 3px 1px rgba(165, 165, 165, 0.534);
}
#newContainer {
    justify-content: center;
    align-content: center;
}
#addNew {
    height: 6.8rem;
    width: 6.8rem;
    font-size: 4.4rem;
    color: rgb(76, 93, 107);
    cursor:pointer;
}
.bookAttr {
    width: 100%;
    padding: 0.1rem 0rem 0.1rem 1.5rem;
}
#bookTitle {
    justify-content: center;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: -2.5rem;
    padding: 0rem;
}
#popupScreen {
    position: fixed;
    display: none;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.712);
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#popupBox {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: white;
    border-radius: 5%;
    width: 22%;
    max-width: 80%;
    min-height: 30rem;  
    justify-content: center; 
    align-content: center;
}
.title {
    padding-bottom: 1.25rem;
    height:100%;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
}
#popupForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formElement {
    width: 95%;
    min-height: 1.9rem;
    margin: 2% 0% 2% 0%;
    text-align: center;
    font-family: 'Abel', sans-serif;
}
#checkboxWrapper, #buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    margin-bottom: 1rem;
}
#buttonWrapper {
    min-height: 5rem;
    align-items: center;
}
.newRead {
    margin: 1.5rem 0rem 0% 0%;
    width: 7rem;
    font-size: 1.2rem;
    white-space: nowrap;
} 
#checkbox {
    margin: 1.2rem 0rem 0% 0%;
    width: 1.5rem;
    height: 1.5rem;
}
.errorMsg {
    display: none;
    width: 95%
}
.button {
    padding: 0px;
    min-height: 3.2rem;
    min-width: 3.5rem;
    margin: 0rem 1rem 0rem 1rem;
    border: 1px solid lightgray;
    border-radius: 4%;
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}
#add {
    width: 45%;
    background-color: var(--greenBtn);
}
#close {
    width: 45%;
    background-color: var(--redBtn);
}
.deleteButton {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    left: 14.1rem;
    bottom: 0.3rem;
    cursor: pointer;
}
.deleteButton:hover {
    transform: scale(20%) ;
}
.deleteButton:focus {
    outline: none;
}
.readBtn {
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: 7%;
    background-color: var(--redBtn);
    width: max-content;
    height: max-content;
    padding: 0rem 0.3rem;
    margin: 0rem 0rem 1rem 1.3rem;
    cursor: pointer;
}
.isReadBtn {
    background-color: var(--greenBtn);
}
.readCard{
    background-color: rgba(245, 245, 245, 0.514);
    box-shadow: inset -1.5px 3px 3px 0px rgba(165, 165, 165, 0.534);
}
footer {
    display: flex;
    align-items: center;
    background-color: rgb(15, 14, 29);
    color: white;
    height: 2.7rem;
}
#attribution {
    font-size: 1.1rem;
    margin-left: 5rem;
}
#odin {
    color: white;
    margin-right: auto;
}
#odin:focus {
    outline: none;
}
#github {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 5rem;
}


/* } */
@media screen and (max-width: 41.25rem) {

    body, html {
    font-size: 11px;
    }
    #popupBox {
        width: 78%;
    }
    #grid {
        padding: 5rem 0rem 2.5rem 1rem; 
    }
    .bookCard, #newContainer {
        justify-content: center;
        padding: 1rem;
        height: 13rem;
        width: 9rem;
        margin: 0rem 1rem 1rem 0rem;
    }
    .bookAttr{
        text-align: center;
        padding: 0px;
    }
    .readBtn{
        margin: 0px;
    }
    #bookTitle {
        margin-top: -1rem;
        font-size: 1.2rem;
    }
    .deleteButton {
        left: 4.3rem;
        bottom: 0.3rem;
    }
    #attribution {
        margin-left: 2.5rem;
    }
    #github {
        margin-right: 2.5rem;
    }
}